body {
    margin: 0;
    background-color: #f2f7d0;
    color: #081c63;
}

.text {
    margin-top: 40px;
}

h2 {
    font-family: 'Merriweather', serif;
    margin-bottom: 0;
    text-align: center;
}

h2 span {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-style: italic;
    margin-top: 0;
    font-size: 14px;
    
}

p {
    margin-top: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    min-width: 400px;
    line-height: 1.6;
}

